<div class="contenedor">
   <h1>Aplicación de Clima</h1> <!-- Encabezado de la aplicación -->
   <input type="text" [(ngModel)]="ciudad" placeholder="Ingrese una ciudad" aria-label="Ingrese una ciudad"> <!-- Campo de entrada para ingresar el nombre de la ciudad -->
   <button (click)="buscarCiudad()" id="botonBusqueda">Buscar</button> <!-- Botón para iniciar la búsqueda -->
   @if (datosClima.ciudadNombre) { <!-- Estructura condicional para mostrar los datos del clima si la ciudad está definida -->
    <div id="datosClima"> <!-- Contenedor para mostrar los datos del clima -->
     <h2>{{ datosClima.ciudadNombre }}, {{ datosClima.paisNombre }}</h2> <!-- Nombre de la ciudad y país -->
     <p>La temperatura es: {{ datosClima.temperatura }}ºC</p> <!-- Temperatura actual -->
     <p>La humedad es: {{ datosClima.humedad }}%</p> <!-- Humedad actual -->
     <img [src]="datosClima.icono" alt="Icono del clima"> <!-- Icono representativo del clima -->
     <p>La descripción meteorológica es: {{ datosClima.descripcion }}</p> <!-- Descripción del clima -->
    </div> <!-- Fin del contenedor de datos del clima -->
   } <!-- Fin de la estructura condicional -->
  </div> <!-- Fin del contenedor principal -->
