<div class="text-center" id="mainContent"> <!-- Contenedor principal centrado -->
    <h1 class="mt-5" id="name">Soy <span class="highlight">Daniel Gonzalez</span></h1><br><br> <!-- Título principal -->
    <p class="lead mb-4 small" style="font-size: 18px;">Este es mi proyecto final de angular.</p> <!-- Párrafo descriptivo -->
    <p class="mb-4" style="font-size: 20px;">Durante nuestra sesión, examinaremos de cerca una selección de APIs y
        algunos de los proyectos desarrollado en clase.</p> <!-- Párrafo informativo -->
</div>
